<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/tomkow.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>
      <div class="text-center">Stworzone przez:</div>
      <div class="text-center">
        <h3>Tomasz Kowalski</h3>
      </div>
      <div class="text-center">
        <a href="http://www.tomekkowalski.pl">www.tomekkowalski.pl</a>
      </div>
    </div>
  </div>
</div>
